# auto files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# WebDriver Manager
.wdm

# folders
data

# mysql db
my.cnf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
backup.sql

.env*