# auto files
.DS_Store

# folders
data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# db
mangastyle-backup.sql

# .env
.env*

# venv
appenv/

# aws
*.pem

backups/

# app specific
processed_tweets.txt

# scripts
shell_scripts
deploy_secret_files_to_aws.sh