.filter-button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 6px 6px 6px 6px;
    font-size: 16px;
    position: relative;
}

.filter-button:hover {
    color: rgba(255, 255, 255, 0.8);
}

.filter-button:active {
    color: rgba(255, 255, 255, 0.6);
}

.filter-dropdown-container {
    display: none;
    background-color: rgba(236, 235, 255, 0.9);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 36px;
    padding-top: 12px;
    overflow: hidden;
}

.filter-dropdown-menu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
}

.filter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 12px;
    padding: 0px 12px 12px 12px;
}

.filter-title {
    font-weight: 500;
    color: rgb(40, 40, 40);
    padding: 0 0 4px 0;
}

.filter-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
}

.filter-radio-box {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.filter-radio-button {
    display: inline;
}

.filter-apply-button {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(230, 230, 230, 0.9);
    border: none;
    cursor: pointer;
    padding: 6px 0 6px 0;
    font-size: 14px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.filter-apply-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.filter-apply-button:active {
    background-color: rgba(0, 0, 0, 0.5 );
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}