.header {
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    border-bottom: 1px solid rgb(40, 40, 40);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-icon {
    min-width: 24px;
    background-color: lightpink;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-left: 20px;
}

.header-right {
    min-width: fit-content;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.filter-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord-icon {
    background-color: lightblue;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}