.media-image {
    width: 100%;
    border-radius: 16px;
    margin-top: 6px;
    margin-bottom: 4px;
    object-fit: cover;
    border: 3px solid transparent;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.15s;
}

.media-image:hover {
    transform: scale(1.03);
    opacity: 1;
}