.artist-profile-image {
    width: 32px;
    border-radius: 50%;
    margin-right: 5px;
}

.artist-name {
    color: rgb(244, 244, 244);
    font-weight: 500;
    padding: 2px 4px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist-username {
    font-weight: 300;
    padding-top: 2px;
}