.filter-button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 6px 6px 6px 6px;
    font-size: 16px;
    position: relative;
}

.filter-button:hover {
    color: rgba(255, 255, 255, 0.8);
}

.filter-button:active {
    color: rgba(255, 255, 255, 0.6);
}

.filter-dropdown-container {
    position: fixed;
    display: none;
    background-color: rgba(20, 20, 20, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: fit-content;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    overflow-x: hidden;
    margin-top: 61px;
    padding-top: 14px;
}

.filter-dropdown-menu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
}

.filter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 12px;
    padding: 0px 12px 12px 12px;
    color: rgba(187, 187, 187, 0.853);
}

.filter-title {
    font-weight: 500;
    padding: 0 0 4px 0;
}

.filter-radio-group {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.filter-radio-box {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.filter-radio-button {
    display: inline;
}

.filter-apply-button {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(230, 230, 230, 0.9);
    border: none;
    cursor: pointer;
    padding: 16px 0 16px 0;
    font-size: 14px;
    width: 100%;
    position: absolute;
    bottom: 74px;
}

.filter-apply-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.filter-apply-button:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.show-filter-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}