.media-image {
    min-width: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.15s;
}

.media-image:hover {
    opacity: 1;
}

.media-image-outer-box {
    border-radius: 16px; 
    margin-top: 6px; 
    margin-bottom: 4px;
}

.media-image-box-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.media-image-box-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.media-image-box-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-image {
    margin-right: 2px;
}

.top-image {
    margin-bottom: 2px;
}

.media-box-16-9 {
    aspect-ratio: 16/9;
}